<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077179754325-h0707notjfljq8be994l4m7spkbe2ggm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077179754325-h0707notjfljq8be994l4m7spkbe2ggm</string>
	<key>API_KEY</key>
	<string>AIzaSyBkUQbFJRRRj8aXHWC5FNCdfX8AvFWODrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1077179754325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HDTech.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-1587267096716</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-1587267096716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077179754325:ios:8e153b49a28878729771dc</string>
	<key>DATABASE_URL</key>
	<string>https://finalproject-1587267096716.firebaseio.com</string>
</dict>
</plist>